<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
   bean-discovery-mode="all">
	<interceptors>
	    <class>book.jeepatterns.interceptor.LoggedInterceptor</class>
	    <class>book.jeepatterns.interceptor.Statisticalnterceptor</class>
	</interceptors> 
	<decorators>
	    <class>book.jeepatterns.decorator.AcademicDecorator</class>
	    <class>book.jeepatterns.decorator.AcademicDecorator2</class>
	    <class>book.jeepatterns.decorator.ElectronicDecorator</class>
	    <class>book.jeepatterns.decorator.MechanicalDecorator</class>
	</decorators>	  
</beans>